* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
}

body *:not(.blur-exclude):not(.blur-exclude *) {
  transition: 0.1s -webkit-filter linear;
}

input, button {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
}

#group-create-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

#group-create-container *:not(label) {
  z-index: 5;
}

#group-create-container.overlay::after {
  opacity: 0.4;
  background: black;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  box-sizing: border-box;
}

#group-create-form-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 100px;
  background: white;
  border-radius: 15px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

#group-create-form-container p, #group-create-form-container form {
  margin-top: 50px;
}

#group-create-form-container .input-field-container {
  height: 50px;
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
}

#group-create-form-container .input-submit-container {
  width: 100%;
  height: 50px;
}

#group-create-form-container input[type="submit"] {
  border-radius: 10px;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #6dd5ed;

  /* Correct text display bug with scaling */
  -webkit-font-smoothing: antialiased;
  transform: translate3d(0, 0, 0);
}

#group-create-form-container input[type="submit"]:hover {
  background: #8ffd9f;
  transform: translate3d(0, 0, 0) scale(1.03);
}

#group-create-form-container input:not([type="submit"]) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  left: -20px;
  background: transparent;
  padding: 20px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  height: 100%;
}

#group-create-form-container #group-create-close-button {
  font-weight: 100;
  line-height: 0.65;
  font-size: 3.5em;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all .2s ease-in-out;
}

#group-create-form-container #group-create-close-button:after {
  content: "\00d7"; /* Cross */
}

#group-create-form-container #group-create-close-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

#server-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 15%;
  border-right: solid 1px black;
  box-shadow: 2px 0 5px -2px black;
}

#server-container #group-prompt {
  font-weight: 200;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  display: none;
}

#server-container #server-selector {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  overflow-y: auto; /* Only show the scroll bar when necessary */
}

#server-container #server-buttons-container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
}

#server-container #server-buttons-container .group-action-button {
  font-weight: bolder;
  outline: none;
  background: transparent;
  cursor: pointer;
  border: 0;
  height: 50px;
  width: 50%;
  box-sizing: border-box;
  float: left;
  transition: background 0.2s linear;
  border-bottom: 1px solid black;
}

#server-container #server-buttons-container .group-action-button:first-child {
  border-right: 1px solid #888;
}

#server-container #server-buttons-container .group-action-button:not(.active-button):hover {
  background: #eee;
}

#server-container #group-join-form {
  display: none;
}

#server-container #group-join-form .input-field-container {
  margin: 3px 0 3px 3px;
  display: inline-block;
  height: 50px;
  width: 70%;
}

#server-container #group-join-form .slide-back {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px #888;
  background: #f0f0f0;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
}

#server-container #group-join-form #group-join-code {
  color: black;
  display: inline-block;
  background: transparent;
  padding: 5px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  width: calc(100% - 10px);
  border-bottom: 1px solid #888;
  height: calc(100% - 5px);
  box-sizing: border-box;
}

#server-container #group-join-form #group-join-button {
  height: 35px;
  font-weight: bolder;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  outline: none;
  margin-right: 5px;
  transition: background 0.1s linear;
  width: calc(30% - 14px);
  cursor: pointer;
}

#server-container #group-join-form #group-join-button:hover, #options-nav-container #invite-code-display #invite-code-copy:hover {
  background: #8ffd9f;
}

#server-selector .server-button {
  transition: background 0.1s linear;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100px;
  position: relative;
  left: 0;
  border: 0;
  cursor: pointer;
  text-align: left;
  border-bottom: solid 1px #555;
}

#server-selector .server-button:not(.active-button):hover {
  background: #eee;
}

.active-button {
  background: #6dd5ed !important;
}

#server-selector .server-button .server-info-container * {
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #888;
  font-size: 1em;
  position: relative;
}

#server-selector .server-button .server-info-container h1 {
  color: #555;
  font-size: 1.5em;
}

#chat-container {
  position: absolute;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 85%;
  overflow-wrap: break-word;
}

#chat-container #chatbox {
  box-sizing: border-box;
  height: calc(100% - 50px);
  padding: 10px;
  padding-bottom: 0;
  overflow-y: auto; /* Only show the scroll bar when necessary */
  list-style-type: none;
  margin-bottom: 50px; /* Prevent overflow into the message box field */
}

#chat-container li {
   margin-bottom: 12px; /* Space long, wrapped message lines differently to brand new messages */
}

#chat-container #message {
  box-sizing: border-box;
  outline: none;
  border: solid 1px black;
  height: 100%;
  width: 100%;
  padding: 5px 65px 5px 15px;
}

#chat-container #chatbox-reminder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 25px)); /* Manually adjust to fit in the center of the visible window, some of which is blocked by the message input field. */
  font-size: 2.3em;
  font-weight: lighter;
}

#chat-container #invite-prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 25px + 2.3em));
  font-weight: 200;
  display: none;
  text-align: center;
}

#message-form .input-field-container {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

#message-form #message-send-tick * {
  box-sizing: border-box;
}

#message-form #message-send-tick {
  position: absolute;
  right: 0;
  height: 50px;
  padding: 7px;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

#message-form #message-send-tick img {
  opacity: 0.9;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

#message-form #message-send-tick img:hover {
  opacity: 1;
}

#message-form #message-send-tick img {
  opacity: 0.5;
  height: 100%;
}

/* SOURCE: https://codepen.io/Takumari85/pen/RaYwpJ [Accessed 27/10/2020] */
.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.non-empty.effect-20 ~ .focus-border:before,
.non-empty.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.non-empty.effect-20 ~ .focus-border i:before,
.non-empty.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{transform: translateY(-50%); text-align: left; position: absolute; left: 20px; width: 100%; top: 50%; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-20:focus ~ label, .non-empty.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #3399FF; transition: 0.3s;}
/* END SOURCE */

#chat-container #message :focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.requires-group-selection {
  display: none; /* These elements will only be shown when the user has selected a group. */
}

#info-container {
  box-sizing: border-box;
  height: 50px;
  width: 85%;
  position: absolute;
  top: 0;
  left: 15%;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background: #2193b0;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Correct particles.js Canvas Positioning */
#info-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#info-container .title {
  height: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-left: 10px;
  float: left;
}

#info-container #name-display {
  float: right;
  margin-right: 10px;
  font-size: 1.5em;
}

#info-container #name-display:before {
  content: 'Welcome, ';
  white-space: pre;
}

#info-container #name-display:after {
  content: '.';
}

#info-container #info-buttons-container {
  float: right;
  height: 50px;
}

#info-container #info-buttons-container * {
  box-sizing: border-box;
  z-index: 1; /* Ensure cursor displays correctly */
}

#info-container #info-buttons-container button {
  opacity: 0.7;
  position: relative;
  right: 0;
  height: 50px;
  padding: 7px;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#info-container #info-buttons-container button:last-child {
  padding-left: 0 !important;
}

#info-container #info-buttons-container #profile-options-button:hover, #info-container #info-buttons-container #options-button:hover {
  opacity: 1;
}

#info-container #info-buttons-container img {
  height: 100%;
  width: auto;
}

.options-box {
  text-align: center;
  border: 1px solid black;
  position: absolute;
  display: inline-block;
  margin-top: 63px;
  right: 0;
  border-radius: 10px;
  margin-right: 10px;
  z-index: 2;
  visibility: hidden; /* Hidden by default and visible when the user clicks on the corresponding button. */
}

.options-box .arrow-up {
  position: absolute;
  top: -14px; /* Such as to position the arrow atop the box with no gap. */
  width: 0;
  border-width: 0 8px 14px 8px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#options-nav-container .arrow-up {
	right: 54px;
}

#profile-options-nav-container .arrow-up {
  right: 6px;
}

#options-nav-container #invite-code-container {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
}

#options-nav-container #invite-code-container * {
	float: left;
}

#options-nav-container #invite-code-display {
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inset 0 0 5px #888;
	display: none;
	padding: 0;
}

#options-nav-container #invite-code-display #invite-code-copy {
	height: 30px;
	margin-left: 10px;
	padding: 2px;
	font-weight: bolder;
	border: 1px solid #000;
	border-radius: 10px;
	background: 0 0;
	cursor: pointer;
	outline: 0;
	-webkit-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

.options-box li {
	list-style-type: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px;
	z-index: 3;
}

.options-box li:first-child {
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: #fff;
	font-weight: 500;
	margin-bottom: -10px;
	padding-bottom: 20px;
	background: #2193b0;
	background: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
	background: -o-linear-gradient(left, #6dd5ed, #2193b0);
	background: linear-gradient(to right, #6dd5ed, #2193b0);
}

#group-options-label::before {
	content: 'Options for ';
}

.options-box li:not(:first-child) {
	border-top: 1px solid #888;
}

.options-box li:nth-child(2) {
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.options-box li a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	z-index: 4;
}
